# BEGIN WordPress
# As directivas (linhas) entre "BEGIN WordPress" e "END WordPress" são geradas
# dinamicamente e não deverão ser modificadas através de filtros do WordPress.
# Qualquer alteração às instruções entre estes marcadores será sobreposta.

# END WordPress
